@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

.popup {
  font-family: Roboto;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  width:300px;
}

.popup h3 {
  font-weight:300;
  border-bottom:1px solid #eee;
  padding-bottom:7px;
  margin-bottom:7px;
  font-size:18px;
}

.popup button {
  padding:5px 10px;
  font-size:16px;
  background:rgb(30, 99, 145);
  color:#fff;
  border:0;
  border-radius: 5px;
  margin-top:10px;
  cursor: pointer;
}

.popup button:hover {
  background:rgb(46, 120, 170);
}

.popup .text {
  font-size:14px;
  line-height:1.5;
  color:#555;
}

.popup input[type="text"] {
  width:90%;
  padding:5%;
  font-size:14px;
  border-radius: 3px;
  border:1px solid #ccc;
  margin-top:5px;
}


